header{
    background-color: #4ea0ff ;
    background-image: url(./images/pattern.png);
    background-size: 35%;
}

#logo{
    width: 150px;
    height: 150px;
}

#scritto-da{
    color: #808080 ;
}

#booleaner{
    color: #20a9e5;
}

#il{
    color: #808080;
    font-size: 10px;
}

h1{
    font-size: 40px;
}

#tabella{
    text-align: left;
}

#testa{
    color: white;
    background-color: #20A9E5;
}

.azzurro{
    background-color: #B1E5F2;
}

.prima-seconda{
    width: 20%;
}

#img-1{
    background-image: url(./images/monitor.jpg);
    background-size: contain;
    width:250px;
    height:200px;
    color: white;
}

#img-2{
    background-image: url(./images/graph.jpg);
    background-size: contain;
    width:250px;
    height:200px;
    color: white;
}

h3{
    color: #808080;
}